 

 .cartIcon{
   font-size: 22px;
 }

 .navbar-nav .nav-link.active{
  color: #0aad0a;
  font-weight: bolder;
 }

 /* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none;
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}

.offline{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgba(0, 0, 0, 0.473);
    color: #fff;
    border-radius: 20px;
    padding: 10px 50px;
}

.brdr{
   border: 1px solid #0aad0a;
}
.dzwoLr {
    flex-shrink: 0;
    visibility: visible;
    pointer-events: auto;
    width: 36px;
    height: 36px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0px 0px 5px);
     border: 0;margin: 0;
    padding: 0;
}

.dzwoLr img {
    width: 18px;

}

.eDnIKc {
    width: 30px;
    max-width: unset;
    height: 30px;
    max-height: unset;
}
img {
    max-width: 100%;
    display: block;
   
}
.wishlistBtn:hover {
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.4);
  }

